<div class="container">
	<div class="search">
		<input ng-model='keyword' placeholder="请输入书名" />
		<button ng-click='search()'>search</button>
	</div>


	<div ng-repeat='o in bookList'>
		<a ui-sref='bookDetail({id:o.id})'>
			<div>
				<label>书名:</label><span>{{o.origin_title}}</span>
			</div>
			<div>
				<label>作者:</label><span>{{o.author}}</span>
			</div>
			<div>
				<img ng-src="{{o.image}}">
			</div>
			<div>
				<label>出版社:</label><span>{{o.publisher}}</span>
			</div>
			<div>
				<label>价格:</label><span>{{o.price}}</span>
			</div>
			<div>
				<label>页码:</label><span>{{o.pages}}</span>
			</div>

			<hr>
		</a>
	</div>
</div><!--end of container-->