/* body */
/*body {
    margin:0;
    padding:0;
    background-color:#E4E1E1;
    font-size: 14px;
}*/
/* common start */
.fl{
    float: left;
}
.fr{
    float: right;
}
.mt5 {
    margin-top: 5px;
}
.plr2 {
    padding-left: 2px;
    padding-right: 2px;
}
/* common end*/

#wrapper {
    position: absolute;
    z-index: 1;
    top: 60px;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding-bottom: 40px;
    background: #ccc;
    overflow: hidden;
}

/* header start */
header {
    line-height: 40px;
    background-color: #000;
    color: #fff;
    width: 100%;
}
header div {
    display:inline-block;
}
header div:nth-child(1){
    color: white;
    width: 10%;
    padding-left: 5px;
    font-size: 20px;
}
header div:nth-child(2){
    color: white;
    text-align: center;
    width: 70%
}
header div:nth-child(3){
    color: white;
    text-align: right;
    width: 10%
}
/* header end */

/* container */
.container {
   margin-top: 20px;
}

.no-result {
    font-size: 30px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -55px;
    color: #484B7B;
}

.item {
    display: block;
    margin-top:10px;
    height:150px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #FFF;
    min-width:290px;
    padding: 5px;
}

.item:last-child {
    margin-bottom: 50px;
}

.list-img {
    width: 124px;
    height: 140px;
}

.list_content{
    width: 180px;
    height: 144px;
    margin: 5px;
}

.container a {
    text-decoration: none;
    color:black;
}

/* footer */
footer {    
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    border-top: 1px solid #DDD8CE;
    background-color: #000;
}

footer a {
	width: 33%;
   	float: left;
   	cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

.active {
    color: #337AB7;
}



/* spinner */
.spinner {
  margin: 100px auto;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
 
.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* spinner */



/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {
    -webkit-transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: rotateFall 1s both ease-in;
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
}
.page-home.ng-enter     {  
    -webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;    
}

/* about ------------------------ */
.page-about.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
  -moz-animation:slideOutLeft 0.5s both ease-in;
  animation:slideOutLeft 0.5s both ease-in;   
}
.page-about.ng-enter    {  
    -webkit-animation:slideInRight 0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
  animation:slideInRight 0.5s both ease-in;    
}

/* contact ---------------------- */
.page-contact.ng-leave      {
    -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotateOutNewspaper .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: rotateOutNewspaper .5s both ease-in;
  transform-origin: 50% 50%;
  animation: rotateOutNewspaper .5s both ease-in;
}
.page-contact.ng-enter    { 
    -webkit-animation:slideInUp 0.5s both ease-in;
  -moz-animation:slideInUp 0.5s both ease-in;
  animation:slideInUp 0.5s both ease-in;  
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
  0% { -moz-transform: rotateZ(0deg); }
  20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
  40% { -moz-transform: rotateZ(17deg); }
  60% { -moz-transform: rotateZ(16deg); }
  100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from    { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from  { transform:translateY(100%); }
  to    { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from  { -moz-transform:translateY(100%); }
  to    { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from  { -webkit-transform:translateY(100%); }
  to    { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
