/* body */
/*body {
    margin:0;
    padding:0;
    background-color:#E4E1E1;
    font-size: 14px;
}*/
/* common start */
.fl{
    float: left;
}
.fr{
    float: right;
}
.mt5 {
    margin-top: 5px;
}
.plr2 {
    padding-left: 2px;
    padding-right: 2px;
}
/* common end*/

#wrapper {
    position: absolute;
    z-index: 1;
    top: 60px;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding-bottom: 40px;
    background: #ccc;
    overflow: hidden;
}

/* header start */
header {
    line-height: 40px;
    background-color: #000;
    color: #fff;
    width: 100%;
}
header div {
    display:inline-block;
}
header div:nth-child(1){
    color: white;
    width: 10%;
    padding-left: 5px;
    font-size: 20px;
}
header div:nth-child(2){
    color: white;
    text-align: center;
    width: 70%
}
header div:nth-child(3){
    color: white;
    text-align: right;
    width: 10%
}
/* header end */

/* container */
.container {
   margin-top: 20px;
}

.no-result {
    font-size: 30px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -55px;
    color: #484B7B;
}

.item {
    display: block;
    margin-top:10px;
    height:150px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #FFF;
    min-width:290px;
    padding: 5px;
}

.item:last-child {
    margin-bottom: 50px;
}

.list-img {
    width: 124px;
    height: 140px;
}

.list_content{
    width: 180px;
    height: 144px;
    margin: 5px;
}

.container a {
    text-decoration: none;
    color:black;
}

/* footer */
footer {    
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    border-top: 1px solid #DDD8CE;
    background-color: #000;
}

footer a {
	width: 33%;
   	float: left;
   	cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

.active {
    color: #337AB7;
}



/* spinner */
.spinner {
  margin: 100px auto;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
 
.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* spinner */