/* body */
body {
    margin:0;
    padding:0;
    background-color:#E4E1E1;
    font-size: 14px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: 0;
    width: 100%;
    background: #ccc;
    overflow: hidden;
}

/* header */
header {
    line-height: 40px;
    background-color: #000;
    color: #fff;
    width: 100%;
}
header div {
    display:inline-block;
}
header div:nth-child(1){
    color: white;
    width: 10%;
    padding-left: 5px;
    font-size: 20px;
}
header div:nth-child(2){
    color: white;
    text-align: center;
    width: 70%
}
header div:nth-child(3){
    color: white;
    text-align: right;
    width: 10%
}

/* container */
.container {
   margin: 5px;
}
.container .search input{
    width: 70%;
    height: 18px;
    padding: 5px;
    background-color: #F2F6F9;
    border: 1px solid white;
}
.container .search button{
    width: 20%;
    border: 0px black solid;
    height: 30px;
    background-color: #91A9D4;
}
.container .no-result {
    font-size: 30px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -55px;
    color: #484B7B;
}

.container .item {
    display: block;
    margin-top:5px;
    height:150px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #FFF;
    min-width:290px;
}

.item:last-child {
    margin-bottom: 50px;
}

.container  .list-img {
    width: 104px;
    height: 140px;
}

.list_content{
    width: 180px;
    height: 144px;
    margin: 5px;
}

.container a {
    text-decoration: none;
    color:black;
}

/* footer */
footer {    
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border-top: 1px solid #DDD8CE;
    background-color: #000;
}

footer a {
	width: 33%;
   	float: left;
   	cursor: pointer;
    color: #FFF;
    text-decoration: none;
}
